body {
    font-family:'Roboto' sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
    color: #2196F3;
    text-decoration: none;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family:'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}

